.modal input {
    margin-bottom: 20px;
    border: 0px;
    border-bottom: 2px solid var(--red);
    text-align: center;
    font-size: 18px;
}

.modal input:focus {
    outline: none;
}

.delete__modal .modal__message {
    margin: 10px 0px !important;
}