.dashboard__bar1 {
  height: 45px;
  width: 100%;
  padding: 0 15px;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 8px;
}

.fas.fa-user-circle {
  margin-right: 10px;
  font-size: 20px;
}

.dashboard__bar1 h1 {
  font-weight: 500;
}
