.dashboard__bar2 {
  height: 55px;
  width: 98%;
  justify-content: space-between;
  margin-left: 2%;
}

.dashboard__pagecontainer {
  margin-right: 10px;
  font-weight: 500;
}

.dashboard__separator {
  width: 3px;
  height: 30px;
  background-color: #1c3f95;
  margin: 0 10px;
}

.dashboard__colselect {
  background-color: #f0f2f5;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 5px;
}

.dashboard__menubtn {
  height: 55px;
  background-color: transparent;
  border: none;
}

.dashboard__menubtn h1 {
  margin-right: 10px;
}
