.table__container {
  margin-top: 30px;
  margin-left: 2%;
  height: 100vh;
  transition: all 0.2s linear;
  overflow-x: scroll;
  overflow-y: hidden;
}

table {
  flex: 0 0 auto;
  width: 100%;
  max-width: 100%;
  transition: all 0.2s linear;
}

tbody {
  height: auto;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

td {
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

thead {
  display: table;
  width: 100%;
  background-color: #ffffff;
  height: 40px;
  padding: 6px 10px;
}

thead td {
  color: #1c3f95;
  font-weight: 500;
}

tbody tr {
  background-color: #ffffff;
  height: 40px;
  margin: 2px 0;
  padding: 6px 10px;
}

tfoot {
  display: table;
  width: 100%;
  background-color: #ffffff;
  height: 40px;
  padding: 6px 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.table__action--width {
  width: 100px;
}

.table__actionbtns div {
  justify-content: center;
}

.table__btn {
  height: 40px;
  width: 40px;
  border: 0;
  padding: 0 7px;
  flex-direction: column;
  justify-content: center;
}
